@use "../abstracts/bundle" as abs;

// max-* 구조의 클래스명인 경우, responsiveShow() mixin 적용
.max {
    @each $label, $width in abs.$breakpoints {
        &-#{$width} {
            @include abs.responsiveShow($width);
        }
    } 
}

.no-mobile {
    display: block;

    @media (max-width: 390px) {
        display: none;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    @include abs.responsivePaddingX();
    width: 100%;
    height: 100%;
}