@use "../abstracts/bundle" as abs;

section {
    width: 100%;
}

.section-paddingY {
    @include abs.responsivePaddingY($pc: 15rem, $laptop: 10rem, $tablet: 8.8rem, $mobile-L: 5.5rem, $mobile-S: 5.5rem);
}

a {
    color: transparent;
    text-decoration: none;
}

// max-* 구조의 클래스명인 경우, responsiveShow() mixin 적용
.max {
    @each $label, $width in abs.$breakpoints {
        &-#{$width} {
            @include abs.responsiveShow($width);
        }
    } 
}

// 모바일(480px 이하)에서만 요소를 숨김
.no-mobile {
    display: block;

    @media (max-width: 480px) {
        display: none;
    }
}


// only-* 구조의 클래스명인 경우, 특정 해상도에서만 보여짐
.only {
    @each $label, $width in abs.$breakpoints {
        &-#{$width} {
            $nextLabel: abs.findNextKey(abs.$breakpoints, $label);
            @include abs.responsiveShow($width);

            @if $nextLabel != null {
                @media (max-width: map-get(abs.$breakpoints, $nextLabel)) {
                    display: none;
                }
            }
        }
    }
}

// no-* 구조의 클래스명인 경우, 특정 해상도에서만 요소를 숨김
.no {
    @each $label, $width in abs.$breakpoints {
        &-#{$width} {
            $nextLabel: abs.findNextKey(abs.$breakpoints, $label);

            display: block;

            @media(max-width: $width) {
                display: none;
            }

            @if $nextLabel != null {
                @media (max-width: map-get(abs.$breakpoints, $nextLabel)) {
                    display: block;
                }
            }
        }
    }
}

// display: flex 적용 후 X,Y축 모두 양쪽 정렬
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-100vh {
    height: 100vh;
}

// 너비/높이 모두 100% + 좌측 기본 패딩값 + 모든 방향에서 가운데 정렬하는 컨테이너
.container {
    @include abs.responsiveMaxWidth();
    @include abs.responsivePaddingX($pc: 5rem, $laptop: 2.5rem, $tablet: 1.6rem, $mobile-L: 1.5rem, $mobile-S: 1.2rem);

    width: 100%;
    height: 100%;
    margin: 0 auto;
}

// 왼쪽 정렬 섹션 타이틀
.section-title-left {
    width: 100%;
    text-align: left;
}

// background-image 지정시 함께 자주 쓰이는 설정
.bg-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}