@use "../abstracts/bundle" as abs;

section {
    width: 100%;
}

a {
    color: transparent;
    text-decoration: none;
}

// max-* 구조의 클래스명인 경우, responsiveShow() mixin 적용
.max {
    @each $label, $width in abs.$breakpoints {
        &-#{$width} {
            @include abs.responsiveShow($width);
        }
    } 
}

// 모바일(<=390px)에서만 요소를 숨김
.no-mobile {
    display: block;

    @media (max-width: 390px) {
        display: none;
    }
}

// display: flex 적용 후 X,Y축 모두 양쪽 정렬
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-100vh {
    height: 100vh;
}

// 너비/높이 모두 100% + 좌측 기본 패딩값 + 모든 방향에서 가운데 정렬하는 컨테이너
.container {
    @include abs.responsiveMaxWidth(172rem, 90.4rem, 67.6rem, 33rem);
    @include abs.responsivePaddingX(5rem, 2.5rem, 1.6rem, 1.2rem);

    width: 100%;
    height: 100%;
    margin: 0 auto;
}

// 왼쪽 정렬 섹션 타이틀
.section-title-left {
    width: 100%;
    text-align: left;
}

// background-image 지정시 함께 자주 쓰이는 설정
.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}