// --------------- breakpoints ---------------
$breakpoints: (
    large: 1024px,
    medium: 768px,
    small: 480px,
    xsmall: 390px
);

// --------------- colors ---------------
$colors: (
    primary: #15CEC9,
    primary-dark: #11A5A1,
    blue: #1591F5,
    gray-50: #F6F6F6,
    gray-100: #D9D9D9,
    gray-150: #ADADAD,
    gray-200: #969696,
    gray-250: #666666,
    gray-300: #3D3D3D,
    gray-350: #404040,
    gray-400: #444444,
    gray-450: #A4A4A4,
    white: #FFFFFF,
    black: #1C1C1C,
);

// --------------- font-size ---------------
// 1rem = 10px
$font-size: (
    display: (
        desktop: 7.4rem,
        laptop: 5.8rem,
        tablet: 5rem,
        mobile-L: 4.4rem,
        mobile-S: 3.8rem
    ),

    title1: (
        desktop: 7rem,
        laptop: 5rem,
        tablet: 4.8rem,
        mobile-L: 4rem,
        mobile-S: 3.2rem
    ),

    title2: (
        desktop: 4.2rem,
        laptop: 3rem,
        tablet: 3.4rem,
        mobile-L: 2.8rem,
        mobile-S: 2.6rem
    ),

    title3: (
        desktop: 3rem,
        laptop: 2.6rem,
        tablet: 2rem, 
        mobile-L: 1.6rem,
        mobile-S: 1.6rem
    ),

    title4: (
        desktop: 2.4rem,
        laptop: 1.8rem,
        tablet: 1.7rem,
        mobile-L: 1.7rem,
        mobile-S: 1.5rem
    ),

    title5: (
        desktop: 2rem,
        laptop: 1.8rem,
        tablet: 1.6rem,
        mobile-L: 1.4rem,
        mobile-S: 1.4rem
    ),

    subtitle1: (
        desktop: 3.4rem,
        laptop: 2.8rem,
        tablet: 2.4rem,
        mobile-L: 2.2rem,
        mobile-S: 2rem
    ),
    
    subtitle2: (
        desktop: 3rem,
        laptop: 2rem,
        tablet: 2rem,
        mobile-L: 1.8rem,
        mobile-S: 1.6rem
    ),
    
    subtitle3: (
        desktop: 1.8rem,
        laptop: 1.6rem,
        tablet: 1.4rem,
        mobile-L: 1.4rem,
        mobile-S: 1.4rem
    ),

    subtitle4: (
        desktop: 1.6rem,
        laptop: 1.4rem,
        tablet: 1.3rem,
        mobile-L: 1.3rem,
        mobile-S: 1.3rem
    ),

    subtitle5: (
        desktop: 1.4rem,
        laptop: 1.3rem,
        tablet: 1.2rem,
        mobile-L: 1.2rem,
        mobile-S: 1.2rem
    ),

    subtitle6: (
        desktop: 1.2rem,
        laptop: 1.2rem,
        tablet: 1.2rem,
        mobile-L: 1.2rem,
        mobile-S: 1.2rem
    ),

    body1: (
        desktop: 2rem,
        laptop: 1.6rem,
        tablet: 1.6rem,
        mobile-L: 1.6rem,
        mobile-S: 1.4rem    
    ),

    body2: (
        desktop: 1.7rem,
        laptop: 1.5rem,
        tablet: 1.4rem,
        mobile-L: 1.3rem,
        mobile-S: 1.3rem 
    ),

    body3: (
        desktop: 1.4rem,
        laptop: 1.3rem,
        tablet: 1.2rem,
        mobile-L: 1.2rem,
        mobile-S: 1.2rem 
    ),

    button1: (
        desktop: 2rem,
        laptop: 1.6rem,
        tablet: 1.6rem,
        mobile-L: 1.6rem,
        mobile-S: 1.4rem 
    ),

    button2: (
        desktop: 1.6rem,
        laptop: 1.4rem,
        tablet: 1.3rem,
        mobile-L: 1.2rem,
        mobile-S: 1.2rem 
    )
);

// --------------- font-style ---------------
$font-style: (
    display: (
        font-weight: 700,
        letter-spacing: -0.02em,
        line-height: 1.3
    ),

    title: (
        font-weight: 700,
        letter-spacing: -0.02em,
        line-height: 1.2
    ),

    subtitle: (
        font-weight: 500,
        letter-spacing: -0.02em,
        line-height: 1.2
    ),

    body1: (
        font-weight: 400,
        letter-spacing: -0.02em,
        line-height: 1.5
    ),

    body2: (
        font-weight: 400,
        letter-spacing: -0.02em,
        line-height: 1.5
    ),

    body3: (
        font-weight: 400,
        letter-spacing: -0.02em,
        line-height: 1.4
    ),

    button1: (
        font-weight: 700,
        letter-spacing: -0.02em,
        line-height: 1.2
    ),

    button2: (
        font-weight: 600,
        letter-spacing: -0.02em,
        line-height: 1.2
    )
);

// --------------- font ---------------
$font: (
    display: (
        size-category: display,
        style-category: display
    ),

    title1: (
        size-category: title1,
        style-category: title
    ),

    title2: (
        size-category: title2,
        style-category: title
    ),

    title3: (
        size-category: title3,
        style-category: title
    ),

    title4: (
        size-category: title4,
        style-category: title
    ),

    title5: (
        size-category: title5,
        style-category: title
    ),

    subtitle1: (
        size-category: subtitle1,
        style-category: subtitle
    ),

    subtitle2: (
        size-category: subtitle2,
        style-category: subtitle
    ),

    subtitle3: (
        size-category: subtitle3,
        style-category: subtitle
    ),

    subtitle4: (
        size-category: subtitle4,
        style-category: subtitle
    ),

    subtitle5: (
        size-category: subtitle5,
        style-category: subtitle
    ),

    subtitle6: (
        size-category: subtitle6,
        style-category: subtitle
    ),

    body1: (
        size-category: body1,
        style-category: body1
    ),

    body2: (
        size-category: body2,
        style-category: body2
    ),

    body3: (
        size-category: body3,
        style-category: body3
    ),

    button1: (
        size-category: button1,
        style-category: button1
    ),

    button2: (
        size-category: button2,
        style-category: button2
    )
);

$container-padding: (
    xlarge: 5rem,
    large: 2.5rem,
    medium: 1.6rem,
    small: 1.5rem,
    xsmall: 1.2rem
)