// --------------- breakpoints ---------------
$breakpoints: (
    large: 1440px,
    medium: 768px,
    small: 390px
);

// --------------- colors ---------------
$colors: (
    primary: #15CEC9,
    primary-dark: #11A5A1,
    blue: #1591F5,
    gray-50: #F6F6F6,
    gray-100: #D9D9D9,
    gray-150: #ADADAD,
    gray-200: #969696,
    gray-250: #666666,
    gray-300: #3D3D3D ,
    white: #FFFFFF,
    black: #1C1C1C
);

// --------------- font-size ---------------
// 1rem = 10px
$font-size: (
    display: (
        desktop: 7.4rem,
        laptop: 6.6rem,
        tablet: 4.8rem,
        mobile: 4.4rem
    ),

    title1: (
        desktop: 7rem,
        laptop: 6.2rem,
        tablet: 4.8rem,
        mobile: 3.8rem
    ),

    title2: (
        desktop: 4.2rem,
        laptop: 3.8rem,
        tablet: 3.4rem,
        mobile: 2.8rem
    ),

    title3: (
        desktop: 3rem,
        laptop: 2.6rem,
        tablet: 2rem, 
        mobile: 1.6rem
    ),

    title4: (
        desktop: 2.4rem,
        laptop: 2rem,
        tablet: 1.7rem,
        mobile: 1.5rem
    ),

    title5: (
        desktop: 2rem,
        laptop: 1.8rem,
        tablet: 1.6rem,
        mobile: 1.4rem
    ),

    subtitle1: (
        desktop: 3.4rem,
        laptop: 2.8rem,
        tablet: 2.4rem,
        mobile: 2rem
    ),
    
    subtitle2: (
        desktop: 3rem,
        laptop: 2.6rem,
        tablet: 2rem,
        mobile: 1.6rem
    ),
    
    subtitle3: (
        desktop: 1.8rem,
        laptop: 1.6rem,
        tablet: 1.4rem,
        mobile: 1.4rem
    ),

    subtitle4: (
        desktop: 1.6rem,
        laptop: 1.4rem,
        tablet: 1.3rem,
        mobile: 1.3rem
    ),

    subtitle5: (
        desktop: 1.4rem,
        laptop: 1.3rem,
        tablet: 1.2rem,
        mobile: 1.2rem
    ),

    subtitle6: (
        desktop: 1.2rem,
        laptop: 1.2rem,
        tablet: 1.2rem,
        mobile: 1.2rem
    ),

    body1: (
        desktop: 2rem,
        laptop: 1.8rem,
        tablet: 1.6rem,
        mobile: 1.4rem
    ),

    body2: (
        desktop: 1.7rem,
        laptop: 1.5rem,
        tablet: 1.3rem,
        mobile: 1.2rem
    ),

    body3: (
        desktop: 1.4rem,
        laptop: 1.3rem,
        tablet: 1.2rem,
        mobile: 1.1rem
    ),

    button: (
        desktop: 2rem,
        laptop: 1.8rem,
        tablet: 1.6rem,
        mobile: 1.4rem
    )
);

$container-padding: (
    large: 10rem,
    medium: 4.6rem,
    small: 2.4rem
)