@use "../abstracts/bundle" as abs;

.floating-btn {
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 50;
    background-color: transparent;
    border: none;

    img {
        width: 5rem;
        height: 5rem;
    }

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        img {
            width: 4rem;
            height: 4rem;
        }
    }
}
