@use "../abstracts/bundle" as abs;

.line-tab__list {
    flex-direction: column;
    position: relative;

    &::before {
        content: "";
        width: 0.2rem;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: map-get(abs.$colors, gray-100);
    }
}

.line-tab {
    @include abs.font(subtitle2, map-get(abs.$colors, gray-250));

    padding: 3rem 7.1rem 3rem 0;

    &.on {
        color: map-get(abs.$colors, primary-dark);
        position: relative;

        &::before {
            content: "";
            width: 0.2rem;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 5;
            background-color: map-get(abs.$colors, primary-dark);
        }
    }
}

@media (max-width: map-get(abs.$breakpoints, large)) {
    .line-tab__list {
        width: 100%;
        flex-direction: row;

        &::before {
            width: 100%;
            height: 0.2rem;
            top: 100%;
            left: 0;
        }

        &::after {
            content: "";
            width: 100%;
            height: 0.1rem;
            position: absolute;
            top: 0;
            left: 0;
            background-color: map-get(abs.$colors, gray-100);
        }
    }

    .line-tab {
        flex: 1;
        text-align: center;
        padding: 1.4rem 0;

        &.on {
            &::before {
                width: 100%;
                height: 0.2rem;
                top: 100%;
                left: 0;
            }
        }
    }
}