@use "../abstracts/bundle" as abs;

.tech-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;

    a {
        @include abs.font(title3, map-get(abs.$colors, gray-250));

        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: center;
        background-color: map-get(abs.$colors, white);
        border: 0.1rem solid map-get(abs.$colors, gray-150);
        border-collapse: collapse;

        &.on {
            color: map-get(abs.$colors, white);
            border-color: map-get(abs.$colors, primary-100);
            background-color: map-get(abs.$colors, primary-100);
        }
    }
}