@use "../abstracts/bundle" as abs;

.tech__card-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.tech__card {
    @include abs.responsivePaddingX(4rem, 3rem, 4rem, 3rem);
    @include abs.responsivePaddingY(4rem, 3rem, 4rem, 3rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;
    border: 0.1rem solid map-get(abs.$colors, black);
    cursor: pointer;

    .text {
        @include abs.responsiveGap(6rem, 4rem, 4rem, 2rem);

        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .title {
        @include abs.font(title3, map-get(abs.$colors, black));
    }

    .desc {
        @include abs.font(body1, map-get(abs.$colors, black));

        display: none;
    }

    .icons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .card-icon {
        width: 8rem;
    }

    .plus-icon, .minus-icon {
        width: 4rem;
        height: 4rem;
    }

    .minus-icon {
        display: none;
    }

    &.expand {
        background-color: map-get(abs.$colors, primary-50);
        border-color: map-get(abs.$colors, primary-50);

        .title, .desc {
            color: map-get(abs.$colors, white);
        }

        .desc {
            display: block;
        }

        .icons {
            justify-content: end;
        }

        .card-icon, .plus-icon {
            display: none;
        }

        .minus-icon {
            display: block;
        }
    }
}

@media (max-width: 1440px) {
    .tech__card-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .tech__card:nth-child(3) {
        width: calc((100% - 2rem) / 2);
        grid-column: span 2;
        justify-self: center;
    }
}

@media (max-width: map-get(abs.$breakpoints, large)) {
    // .tech__card {
    //     height: 24.8rem;
    // }
}

@media (max-width: map-get(abs.$breakpoints, medium)) {
    .tech__card-list {
        display: flex;
        flex-direction: column;
    }

    .tech__card, .tech__card:nth-child(3) {
        width: 100%;
        // height: 28rem;
    }
}

// @media (max-width: map-get(abs.$breakpoints, small)) {
//     .tech__card {
//         height: 21rem;
//     }
// }