@use "../abstracts/bundle" as abs;

.tech-hero {
    height: 100dvh;
    opacity: 0.7;
    position: relative;

    &.carT-hero {
        background-image: url("../images/carT_hero.webp");
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: -1;
        background: rgba(0, 0, 0, 0.2);
    }

    &__container {
        @include abs.responsivePaddingY(20rem, 18rem, 16rem, 12.6rem);
    
        flex-direction: column;
        text-align: center;
    }

    &__title {
        @include abs.font(title1, map-get(abs.$colors, white));
    }

    &__subtitle {
        @include abs.font(body1, map-get(abs.$colors, white));
    }
}

.mechanism {
    @include abs.responsivePaddingY((16rem, 8rem), (12rem, 6rem), (12rem, 6rem), (8rem, 5rem), (7rem, 3.5rem));

    &__container{
        @include abs.responsiveGap(4rem, 4rem, 6rem, 4rem);

        flex-direction: column;
        align-items: start;
    }

    &__content {
        @include abs.responsiveGap(7.4rem, 4rem);

        .mechanism__tab {
            @include abs.responsiveFontSize(title5);

            padding-left: 0;
            padding-right: 0;
            width: 21.6rem;
        }
    }

    &__panel {
        > div {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        img {
            @include abs.responsiveBorderRadius(2rem, 2rem, 2rem, 0);

            width: clamp(50rem, -11.5rem + 42.708vw, 70.5rem);
        }

        .text {
            @include abs.responsiveGap(3rem, 3rem, 3rem, 2rem);

            flex-direction: column;
            align-items: start;
        }

        .title {
            @include abs.font(title2, map-get(abs.$colors, black));
        }

        .desc-wrapper {
            flex-direction: column;
            gap: 2rem;
        }

        .desc {
            @include abs.font(body1, map-get(abs.$colors, gray-250));
        }
    }

    @media (max-width: 1440px) {
        &__content {
            width: 100%;
            justify-content: center;
            gap: 6rem;
        }

        &__panel-list {
            width: calc(100% - 26.6rem);
        }

        &__panel {
            width: 100%; 

            > div {
                width: 100%;
                flex-direction: column;
                align-items: start;
                
            }

            img {
                width: 60rem;
            }
        }
    }

    @media (max-width: 1440px) and (min-width: 1025px) {
        &__panel {
            > div {
                gap: 3rem;
            }
        }
    }

    @media (max-width: map-get(abs.$breakpoints, large)) {
        &__content {
            flex-direction: column;
        }

        &__panel-list {
            width: 100%;
        }

        &__panel {
            width: 100%;

            > div {
                @include abs.responsiveGap(2rem, 2rem, 2.2rem, 4rem);

                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img {
                width: 100%;
                height: clamp(26rem, 11.333rem + 30.556vw, 34.8rem);
            }

            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }
}