@use "../abstracts/bundle" as abs;

//--------------- tech-hero ---------------
.tech-hero {
    height: 100dvh;
    opacity: 0.7;
    position: relative;
    overflow: hidden;

    .carT-hero__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: url("../images/carT_hero.webp");
        animation: scale-up 1s ease-in-out;
        animation-fill-mode: forwards;  // 애니메이션의 완료 상태를 유지

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            z-index: -1;
            background: rgba(0, 0, 0, 0.2);
        }
    }
    .carNK-hero__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: url("../images/carNK_hero.webp");
        animation: scale-up 1s ease-in-out;
        animation-fill-mode: forwards;  // 애니메이션의 완료 상태를 유지

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            z-index: -1;
            background: rgba(0, 0, 0, 0.2);
        }
    }


    &__container {
        @include abs.responsivePaddingY((20rem, 0), (18rem, 0), 16rem, 12.6rem);
    
        flex-direction: column;
        text-align: center;
    }

    &__title {
        @include abs.font(title1, map-get(abs.$colors, white));
    }

    &__subtitle {
        @include abs.font(body1, map-get(abs.$colors, white));
    }
}

//--------------- mechanism ---------------
.mechanism {
    @include abs.responsivePaddingY((16rem, 8rem), (12rem, 6rem), (12rem, 6rem), (8rem, 5rem), (7rem, 3.5rem));

    &__container{
        @include abs.responsiveGap(4rem, 4rem, 6rem, 4rem);

        flex-direction: column;
        align-items: start;
    }

    &__content {
        @include abs.responsiveGap(7.4rem, 4rem);

        .mechanism__tab {
            @include abs.responsiveFontSize(title5);

            padding-left: 0;
            padding-right: 0;
            width: 21.6rem;
        }
    }

    &__panel {
        display: none;

        &.on {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        img {
            @include abs.responsiveBorderRadius(2rem, 2rem, 2rem, 0);

            width: clamp(50rem, -11.5rem + 42.708vw, 70.5rem);
            object-fit: cover;
        }

        .text {
            @include abs.responsiveGap(3rem, 3rem, 3rem, 2rem);

            flex-direction: column;
            align-items: start;
        }

        .title {
            @include abs.font(title2, map-get(abs.$colors, black));
        }

        .desc-wrapper {
            flex-direction: column;
            gap: 2rem;
        }

        .desc {
            @include abs.font(body1, map-get(abs.$colors, gray-250));
        }
    }

    @media (max-width: 1440px) {
        &.on {
            justify-content: center;
            gap: 6rem;
        }

        &__panel-list {
            width: calc(100% - 26.6rem);
        }

        &__panel {
            width: 100%; 

            &.on {
                flex-direction: column;
            }

            > div {
                width: 100%;
                flex-direction: column;
                align-items: start;
                
            }

            img {
                width: 60rem;
            }
        }
    }

    @media (max-width: 1440px) and (min-width: 1025px) {
        &__panel {
            > div {
                gap: 3rem;
            }
        }
    }

    @media (max-width: map-get(abs.$breakpoints, large)) {
        &__content {
            width: 100%;
            flex-direction: column;
        }

        &__panel-list {
            width: 100%;
        }

        &__panel {
            width: 100%;

            > div {
                @include abs.responsiveGap(2rem, 2rem, 2.2rem, 4rem);

                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img {
                width: 100%;
                height: clamp(26rem, 11.333rem + 30.556vw, 34.8rem);
            }

            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }

    @media (max-width: map-get(abs.$breakpoints, small)) {
        &__panel {
            .text {
                text-align: left;
            }
        }
    }
}

//--------------- difference ---------------
.difference {
    @include abs.responsivePaddingY(8rem, 6rem, 6rem, 5rem, 4rem);

    .container {
        @include abs.responsiveGap(6rem, 6rem, 6rem, 4rem);

        flex-direction: column;
        align-items: start;
    }
}

//--------------- pipeline ---------------
.pipeline {
    @include abs.responsivePaddingY(8rem, 6rem, 6rem, 5rem, 4rem);
    @include abs.responsivePaddingX($pc: 5rem, $laptop: 2.5rem, $tablet: 1.6rem, $mobile-L: 1.5rem, $mobile-S: 1.2rem);

    width: 100%;
    overflow-x: scroll;
    
    &__container {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .table-wrapper {
        @include abs.responsivePaddingX(14.4rem, 4rem);
        @include abs.responsiveGap(9rem, 2rem);

        padding-top: 6rem;
        padding-bottom: 6rem;
        justify-content: space-between;
        align-items: end; 
        border: 0.1rem solid map-get(abs.$colors, gray-250);
        border-radius: 2rem;
    }

    .table {
        &__main-category {
            th {
                @include abs.font(title4, map-get(abs.$colors, gray-300));
            }

            .development-stage {
                padding-right: 2rem;
            }
        }

        &__sub-category {
            th {
                @include abs.font(subtitle4, map-get(abs.$colors, gray-250));
                @include abs.responsivePaddingY((6rem, 0), (4rem, 0));

                padding-right: 6rem;
                white-space: nowrap;
            }

            .permission {
                padding-right: 2rem;
            }
        }

        &__data {
            td {
                @include abs.font(title5, map-get(abs.$colors, gray-250));
                @include abs.responsivePaddingY((6rem, 0), (4rem, 0));

                white-space: nowrap;
                text-align: center;
                padding-right: 7rem;
            }

            .disease {
                width: 18rem;
            }

            .progress {
                width: 56rem;
                padding-right: 2rem;

                &__track {
                    width: 100%;
                    height: 2.2rem;
                    padding: 0.4rem;
                    background-color: map-get(abs.$colors, gray-50);
                    border-radius: 10rem;
                    justify-content: space-between;
                    position: relative;
                    
                    .marker {
                        height: 100%;
                        flex: 1;
                    }
    
                    .marker:not(:last-of-type) {
                        border-right: 0.1rem dashed map-get(abs.$colors, gray-250);
                    }
                }

                &__bar {
                    position: absolute;
                    top: 0.4rem;
                    left: 0.4rem;
                    width: 100%;
                    height: calc(100% - 0.8rem);
                    background: linear-gradient(20deg, rgba(114, 199, 168, 0.75), rgba(71, 192, 186, 0.75));
                    border-radius: 10rem;

                    &.carti01 {
                        width: calc((100% - 0.8rem) * (3 / 4));
                    }

                    &.carti02 {
                        width: calc((100% - 0.8rem) * 1);
                    }

                    &.carti03 {
                        width: calc((100% - 0.8rem) * (3 / 4));
                    }
                }

                &__pointer {
                    width: 1.1rem;
                    height: 1.1rem;
                    border-radius: 100%;
                    position: absolute;
                    top: 50%;
                    right: 0.2rem;
                    transform: translateY(-50%);
                    background-color: map-get(abs.$colors, white);
                }
            }

            .partnering {
                padding-right: 0;
            }
        }
    }

    @media (max-width: map-get(abs.$breakpoints, large)) {
        .table {
            &__sub-category {
                width: 35.4rem;

                th {
                    padding-right: 2rem;
                }
            }

            &__data {
                td {
                    padding-right: 3rem;
                }
    
                .disease {
                    width: 15.5rem;
                }

                .progress {
                    width: 35.3rem;

                    &__track {
                        height: 1.5rem;
                        padding: 0.2rem;
                    }

                    &__bar {
                        top: 0.2rem;
                        left: 0.2rem;
                        width: 100%;
                        height: calc(100% - 0.4rem);

                        &.carti01 {
                            width: calc((100% - 0.4rem) * (3 / 4));
                        }
    
                        &.carti02 {
                            width: calc((100% - 0.4rem) * 1);
                        }
    
                        &.carti03 {
                            width: calc((100% - 0.4rem) * (3 / 4));
                        }
                    }
                        
                    &__pointer {
                        width: 0.8rem;
                        height: 0.8rem;
                    }  
                }

                .partnering {
                    width: 20.4rem;
                }
            }
        }
    }
}

@keyframes scale-up {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}