@use "../abstracts/bundle" as abs;

//--------------- cdmo-hero ---------------
.cdmo-hero {
    height: 100dvh;
    position: relative;
    background-image: url("../images/facility_02.webp");

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: 0;
        background: rgba(0,0,0,0.5);
        
    }

    &__container {
        flex-direction: column;
        align-items: start;
        position: relative;
        z-index: 5;
    }

    &__title {
        @include abs.font(display, map-get(abs.$colors, white));
    }

    &__subtitle {
        @include abs.font(subtitle1, map-get(abs.$colors, white));
    }

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        &__container {
            align-items: center;
        }

        &__subtitle {
           text-align: center;
        }
    }

}

//--------------- cdmo-process ---------------
.cdmo-process {
    @include abs.responsivePaddingY($pc: (pt: 16rem, pb: 8rem), $laptop: (pt: 16rem, pb: 8rem), $tablet: (pt: 12rem, pb: 6rem), $mobile-L: (pt: 8rem, pb: 4rem), $mobile-S: (pt: 7rem, pb: 3.5rem));

    &__container {
        @include abs.responsiveGap(10.4rem, 2rem, 4rem, 3.6rem, 3rem);

        justify-content: space-evenly;
    }

    &__title {
        font-size: clamp(5rem, 2.714rem + 2.232vw, 7rem);
    }

    &__subtitle {
        @include abs.font(title2, map-get(abs.$colors, black));

        font-size: clamp(3rem, 1.629rem + 1.339vw, 4.2rem);
    }

    &__desc {
        max-width: 92.2rem;
        flex-direction: column;
        align-items: start;
        gap: 1.6rem;

        > * {
            @include abs.font(body1, map-get(abs.$colors, black));

            max-width: 92.2rem;
        }
    }

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        &__container {
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }
    }

    @media (max-width: map-get(abs.$breakpoints, small)) {
        &__container, &__desc {
            align-items: center;
            text-align: center;
        }    
    }
}

//--------------- cdmo-credible ---------------
.cdmo-credible {
    &__container {
        flex-direction: column;
        justify-content: start;
    }
}