// -----------폰트,믹스인연결-------------
@use "../abstracts/bundle" as abs;

// --------영역별 컨테이너-------
.kind-container {
    @include abs.responsivePaddingY($pc: (pt: 14rem, pb: 8rem), $laptop: (pt: 9rem, pb: 6rem), $tablet: (pt: 12rem, pb: 0rem), $mobile-L: (pt:12.6rem, pb:0rem), $mobile-S: (pt:10rem, pb:0rem));
}

.inquiry--container {
    text-align: center;
    @include abs.responsivePaddingY($pc: (pt: 8rem, pb: 14rem), $laptop: 12rem, $tablet: 12rem, $mobile-L: 12.6rem, $mobile-S: 12rem);
}

// connect 문의유형
select {
    @include abs.font(title4, map-get(abs.$colors, black));

    border: none;
    padding: 0.5rem 1rem;
}

.contact__kind--box.active {
    background-color: map-get(abs.$colors, black);

    .contact__kind--mintitle {
        color: map-get(abs.$colors, white);
    }
}

.contact {

    &-hero {
        height: 100dvh;
        background-image: url("../images/contact_hero.webp");
        opacity: 0.8;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.2);
        }

        &__container {
            flex-direction: column;
            align-items: start;
            position: relative;
            z-index: 5;
        }

        &__title {
            @include abs.font(display, map-get(abs.$colors, white));
        }

        &__subtitle {
            @include abs.font(subtitle1, map-get(abs.$colors, white));
        }
    }

    &__kind {
        text-align: center;

        &--title {
            @include abs.font(title2, map-get(abs.$colors, black));

            padding-bottom: 4rem;
        }

        &--subtitle {
            @include abs.font(subtitle2, map-get(abs.$colors, gray-150));
        }

        &--list {
            flex-wrap: wrap;
            gap: 2rem;
        }

        &--box {
            // 상자 꾸미기
            border-radius: 5rem;
            border: 1px solid map-get(abs.$colors, gray-150);
            width: 100%;
            width: clamp(14.6rem, 14.0625vw, 27rem);
            padding: 1.5rem 0;
            gap: clamp(1.5rem, 2.0833vw, 4rem);
            transition: 0.2s all ease-in-out;
        }

        &--box img {
            width: 3rem;
        }

        &--box:hover {
            background-color: map-get(abs.$colors, black);
        }

        &--box:hover .contact__kind--mintitle {
            color: map-get(abs.$colors, white);
        }
    }
}

.inquiry {
    text-align: center;

    &__title {
        @include abs.font(title2, map-get(abs.$colors, black));
    }

    &__dec {
        @include abs.font(subtitle3, map-get(abs.$colors, black));
    }

    &__list {
        padding-top: 6rem;
    }

    &__rowWrap {
        text-align: start;
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        padding: 2rem 0;
        width: 100%;
    }

    &__subtitle {
        @include abs.font(subtitle3, map-get(abs.$colors, black));
        padding-left: 2rem;
    }

    &__input {
        width: clamp(39rem, 43.75vw, 84rem);
        margin-top: 1rem;
        padding: 1rem 2rem;
        border: none;
        outline: none;
        border-bottom: 1px solid map-get(abs.$colors, gray-200);
    }

    &__input:focus {
        border-bottom: 1px solid map-get(abs.$colors, primary);
    }

    &__inquiry {
        width: 100%;
        height: 14rem;
        margin-top: 2rem;
        padding: 0 2rem;
        border: 1px solid map-get(abs.$colors, gray-150);
        outline: none;
    }

    &__input:focus {
        border: 1px solid map-get(abs.$colors, primary);
    }


    &__agree {
        text-align: start;
        padding-bottom: 1rem;
        padding-top: 8rem;
    }

    &__agree label {
        margin-bottom: 2rem;
    }

    &__agree-field {
        text-align: start;
        width: 100%;
        margin-top: 2rem;
        padding: 2rem 4rem;
        background-color: map-get(abs.$colors, gray-100);
    }

    &__agree-field li {
        @include abs.font(subtitle5, map-get(abs.$colors, black));
        padding-bottom: 1rem;
    }

    &__check {
        display: flex;
        gap: 1rem;
        padding: 1rem 0 0 2rem;
    }

    &__agreeCheck {
        @include abs.font(subtitle5, map-get(abs.$colors, black));
    }

    &__btn {
        @include abs.font(subtitle4, map-get(abs.$colors, black));
        margin-top: 2rem;
        padding: 2rem 8.5rem;
        border-radius: 5rem;
        border: 1px solid;
        background-color: map-get(abs.$colors, white);
        transition: 0.2s ease-in-out;
    }
}

.inquiry01 {
    text-align: start;
    padding: 8rem 0;
}

.inquiry__file input[type="file"] {
    display: none;
}

.inquiry__file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid map-get(abs.$colors, gray-200);
}

.file label {
    display: block;
    text-align: start;
    padding-left: 2rem;
}

.file-label {
    @include abs.font(subtitle5, map-get(abs.$colors, gray-200));
}

.file-name {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: 1px solid map-get(abs.$colors, gray-200);
    @include abs.font(subtitle5, map-get(abs.$colors, gray-200));
    background-color: map-get(abs.$colors, white);
    transition: 0.2s ease-in-out;
}

.file-name:hover,
.inquiry__btn:hover {
    background-color: map-get(abs.$colors, black);
    color: map-get(abs.$colors, white);
}

// -----------1024
@media (max-width: map-get(abs.$breakpoints, large)) {
    .contact {

        &__inquiry {

            &--input {
                width: clamp(32rem, 41.9921vw, 43rem);
            }
        }
    }
}

// --------------768
@media (max-width: map-get(abs.$breakpoints, medium)) {
    .field {
        padding-top: 3rem;
    }

    .contact {
        &__hero {
            &--dec {
                padding-top: 4rem;
            }
        }
    }

    .inquiry {
        padding: 6rem 0;
        text-align: start;

        &__rowWrap {
            display: block;
            padding: 0;
        }

        &__subtitle {
            @include abs.font(subtitle3, map-get(abs.$colors, black));
            margin-top: 2rem;
        }

        &__input {
            width: 100%;
        }
    }

    .inquiry01 {
        padding: 6rem 0 3rem 0;
    }
}

@media (max-width: map-get(abs.$breakpoints, xsmall)) {
    .contact {

        &__kind {
            &--list {
                display: flex;
                gap: 1rem;
            }

            &--box {
                padding: 2rem 0;
            }
        }
    }
}