// -----------폰트,믹스인연결-------------
@use "../abstracts/bundle" as abs;

// --------영역별 컨테이너-------
.content-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.kind-container {
    @include abs.responsivePaddingY($pc: (pt: 14rem, pb: 8rem), $laptop: (pt: 9rem, pb: 6rem), $tablet: (pt: 12rem, pb: 0rem), $mobile-L: (pt:12.6rem, pb:0rem), $mobile-S: (pt:10rem, pb:0rem));
}

.inquiry--container {
    @include abs.responsivePaddingY($pc: 8rem, $laptop: 12rem, $tablet: 12rem, $mobile-L: 12.6rem, $mobile-S: 12rem);
}

// connect 문의유형
select {
    @include abs.font(title4, map-get(abs.$colors, black));

    border: none;
    padding: 0.5rem 1rem;
}

// .ex{
//     background-image: url()
// }
// ------------------------

.contact {
    &__hero {
        &--wrap {
            @include abs.responsivePaddingX(24.5rem, 15rem, 13rem, 5.6rem, 3rem);

            position: absolute;
            top: 50%;
        }

        &--title {
            opacity: 0;
            transform: translateY(-50%);
            @include abs.font(display, map-get(abs.$colors, white));
        }

        &--dec {
            opacity: 0;
            transform: translateY(-50%);
            @include abs.font(subtitle1, map-get(abs.$colors, white));
        }
    }

    &__hero img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }


    &__kind {
        text-align: center;

        &--title {
            @include abs.font(title2, map-get(abs.$colors, black));

            padding-bottom: 4rem;
        }

        &--mintitle {
            @include abs.font(title4, map-get(abs.$colors, black));
        }

        &--list {
            display: flex;
            gap: 1rem;
        }

        &--box {
            // 상자 꾸미기
            border-radius: 2rem;
            border: 1px solid map-get(abs.$colors, primary);
            width: 100%;
            padding: 6rem 0;
            gap: 2rem;
        }
    }

    &__inquiry {
        text-align: center;

        &--bigtitle {
            @include abs.font(title2, map-get(abs.$colors, black));
        }

        &--bigdec {
            @include abs.font(body1, map-get(abs.$colors, black));
        }

        &--list {
            padding-top: 6rem;
        }

        &--rowWrap {
            text-align: start;
            display: flex;
            justify-content: space-between;
            gap: 4rem;
            padding: 2rem;
            width: 100%;
        }

        &--title {
            @include abs.font(subtitle3, map-get(abs.$colors, black));
            padding-left: 2rem;
        }

        &--input {
            width: clamp(39rem, 44.5930vw, 76.7rem);
            margin-top: 1rem;
            padding: 1rem 2rem;
            border: none;
            outline: none;
            border-bottom: 1px solid map-get(abs.$colors, gray-200);
        }

        &--input:focus {
            border-bottom: 1px solid map-get(abs.$colors, primary);
        }

        &--inquiry {
            width: 100%;
            height: 14rem;
            margin-top: 2rem;
            border: 1px solid map-get(abs.$colors, black);
            // border: none;
            outline: none;
        }

        &--input:focus {
            border: 1px solid map-get(abs.$colors, primary);
        }


        &--agree {
            text-align: start;
            padding-bottom: 1rem;
            padding-top: 8rem;
        }

        &--agree label {
            margin-bottom: 2rem;
        }

        &--agree-field {
            text-align: start;
            width: 100%;
            margin-top: 2rem;
            padding: 2rem 4rem;
            background-color: map-get(abs.$colors, gray-100);
        }

        &--agree-field li {
            @include abs.font(subtitle5, map-get(abs.$colors, black));
            padding-bottom: 1rem;
        }

        &--check {
            display: flex;
            gap: 1rem;
            padding: 1rem 0 0 2rem;
        }

        &--agreeCheck {
            @include abs.font(subtitle5, map-get(abs.$colors, black));
        }

        &--btn {
            // text-align: center;
            @include abs.font(subtitle4, map-get(abs.$colors, black));

            margin-top: 2rem;
            padding: 2rem 8.5rem;
            border-radius: 5rem;
            border: 1px solid;
            background-color: map-get(abs.$colors, white);
        }

    }
}

.inquiry {
    text-align: start;
    padding: 8rem 0;
}

// ----------첨부파일 스타일적용
.contact__inaquiry--file input[type="file"] {
    display: none;
}

.contact__inaquiry--file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid map-get(abs.$colors, gray-black);
}

.file label {
    display: block;
    text-align: start;
    padding-left: 2rem;
}

.file-label {
    @include abs.font(subtitle5, map-get(abs.$colors, gray-200));
}

.file-name {
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: 1px solid map-get(abs.$colors, gray-200);
    @include abs.font(subtitle5, map-get(abs.$colors, gray-200));
    background-color: map-get(abs.$colors, white);
}

// -----------1024
@media (max-width: map-get(abs.$breakpoints, large)) {
    .contact {

        &__kind {
            &--box {
                padding: 4rem 0;
            }

            &--box img {
                width: clamp(5rem, 8.3vw, 8.5rem);
                padding: 0.5rem 0;
            }
        }

        &__inquiry {

            &--input {
                width: clamp(32rem, 38.0859vw, 39rem);
            }
        }
    }
}

// --------------768
@media (max-width: map-get(abs.$breakpoints, medium)) {
    .field {
        padding-top: 3rem;
    }

    .contact {
        &__hero {
            &--dec {
                padding-top: 4rem;
            }
        }

        &__inquiry {
            &--rowWrap {
                display: block;
                padding: 0 2rem;
            }

            &--title {
                @include abs.font(subtitle3, map-get(abs.$colors, black));
                margin-top: 2rem;
            }

            &--input {
                width: clamp(26rem, 72.9166vw, 58rem);
            }
        }
    }
}

@media (max-width: map-get(abs.$breakpoints, xsmall)) {
    .contact {

        &__kind {
            &--list {
                display: flex;
                gap: 1rem;
            }

            &--box {
                padding: 2rem 0;
            }
        }
    }
}