@use "../abstracts/bundle" as abs;

//--------------- hero ---------------
.hero {
    height: 100vh;
    position: relative;

    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: -1;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            position: absolute;
            inset: 0;
            z-index: 1;
        }
    }

    &__container {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        position: relative;
    }

    &__subtitle {
        @include abs.responsiveFontSize(subtitle1);
        @include abs.fontStyle(500, 1.2, -0.02em, map-get(abs.$colors, white));
    }

    &__title {
        @include abs.responsiveFontSize(display);
        @include abs.fontStyle(700, 1.3, -0.02em, map-get(abs.$colors, white));
    }

    &__scroll {
        color: map-get(abs.$colors, white);
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: 4rem;
        transform: translateX(-50%);

        p {
            font-size: clamp(1.2rem, 1.108rem + 0.256vw, 1.6rem);
        }

        i {
            font-size: 2.4rem;
            margin-top: 1rem;
            animation: scrollAnimation 1.2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
        }
    }

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        &__container {
            align-items: center;
        }

        &__subtitle, &__title {
            text-align: center;
        }

        &__scroll {
            bottom: 3.7rem;
        }
    }

    @media (max-width: map-get(abs.$breakpoints, medium)) and (min-width: map-get(abs.$breakpoints, small)) {
        &__title {
            font-size: clamp(4.4rem, 3.4rem + 2.083vw, 5rem);
        }
    }
}

//--------------- story ---------------
.story {
    height: 100vh;
    position: relative;
    overflow: hidden;

    &__container {
        width: 100%;
    }

    &__ci {
        width: 100%;
        height: 100%;
        background-image: url("../images/ci_bg.webp");
        position: absolute;
        inset: 0;
        z-index: -10;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -5;
            background: rgba(0,0,0,0.2);
        }

        picture img{
            display: block;
            width: clamp(70rem, 41.939rem + 36.49vw, 112rem);

            @media (max-width: map-get(abs.$breakpoints, medium)) {
                width: 23rem;
            }
        }
    }

    &__container {
        height: 50%;
        background-color: map-get(abs.$colors, white);
        position: relative;
    }

    &__subtitle, &__title {
        width: 100%;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__subtitle {
        @include abs.responsiveFontSize(title2);
        @include abs.fontStyle(700, 1.2, -0.02em, map-get(abs.$colors, black));

        bottom: 0;
    }

    &__title {
        @include abs.responsiveFontSize(display);
        @include abs.fontStyle(700, 1.3, -0.02em, map-get(abs.$colors, black));

        top: 0;
    }
}

//--------------- technology ---------------
.technology {
    height: 100vh;

    &__container {
        @include abs.responsivePaddingY($pc: (pt: 0, pb: 0), $laptop: (pt: 0, pb: 0), $tablet: (pt: 8rem, pb: 2rem), $mobile-L: (pt: 5.5rem, pb: 2rem), $mobile-S: (pt: 5.5rem, pb: 2rem));
        @include abs.responsiveGap(7rem, 3rem, 6rem, 4rem, 4rem);

        flex-direction: column;
    }  

    &__subtitle {
        @include abs.responsiveFontSize(subtitle2);
        @include abs.fontStyle(500, 1.2, -0.02em, map-get(abs.$colors, black));
    }

    .content-wrapper {
        width: 100%;
        height: fit-content;
        align-items: stretch;
        position: relative;

        > * {
            width: 50%;
        }
    }

    &-image {

        &__item {
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            &:nth-child(1) {
                z-index: 3;
            }

            &:nth-child(2) {
                z-index: 2;
            }

            &:nth-child(3) {
                z-index: 1;
            }

            img {
                @include abs.responsiveBorderRadius(0, 0, 2rem, 1.2rem, 1.2rem);

                display: inline-block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    &-content {
        &__list {
            flex-direction: column;
            flex: 1;

            li {
                justify-content: start;
            }
        }

        &__item {
            padding: clamp(2rem, -2.8rem + 3.333vw, 3.6rem)
                     clamp(4rem, -2rem + 4.167vw, 6rem);
            border: 1px solid map-get(abs.$colors, gray-100);
            flex: 1;

            &.on {
                padding: clamp(4rem, 1rem + 2.083vw, 5rem)
                         clamp(4rem, -2rem + 4.167vw, 6rem);

                .technology-content__title {
                    margin-bottom: 0.8rem;
                }
            }

            i {
                display: none;
            }

            a {
                width: 100%;
                justify-content: space-between;
                gap: 7.8rem;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
        }
        
        &__title {
            justify-content: start;
            gap: 2rem;

            .title {
                @include abs.responsiveFontSize(title3);
                @include abs.fontStyle(700, 1.2, -0.02em, map-get(abs.$colors, black));        
            }

            i {
                font-size: 3rem;
                color: map-get(abs.$colors, black);
            }
        }

        &__desc {
            > * {
                @include abs.responsiveFontSize(body3);
                @include abs.fontStyle(400, 1.4, -0.02em, map-get(abs.$colors, black));
            }

            .detail {
                display: none;
            }
        }

        &__patent {
            display: none;

            img {
                display: inline-block;
                width: 6rem;
            }
        }
    }
    
    @media (min-width: 769px) {
        &-content__item {
            &.on {
                background-color: #111;

                .summary {
                    display: none;
                }
    
                .detail {
                    display: block;
                }
    
                .title, i, .summary, .detail {
                    color: map-get(abs.$colors, white);
                }
    
                .technology-content__patent, i {
                    display: block;
                }
            }
        }

        &-image__item {
            &.on {
                z-index: 5;
            }
        }
    }

    @media (max-width: 1440px) and (min-width: 769px) {
        .content-wrapper {
            width: 100%;
            flex-direction: column;

            > * {
                width: 100%;
            }
        }

        &-image {
            &__list {
                display: grid;
                place-items: center;
            }

            &__item {
                grid-area: 1 / 1;
                position: relative;
                width: 100%;
                height: 25rem;
            }
        }

        &-content {
    
            &__item {
                padding: 2rem 5rem;
    
                &.on {
                    padding: 3rem 5rem;
    
                    .technology-content__title {
                        margin-bottom: 0.4rem;
                    }
                }
    
                i {
                    display: none;
                }
    
                a {
                    gap: 5rem;
                }
            }
    
            &__text {
                display: flex;
                flex-direction: column;
            }
            
            &__title {
                justify-content: start;
                gap: 2rem;
    
                .title {
                    @include abs.responsiveFontSize(title3);
                    @include abs.fontStyle(700, 1.2, -0.02em, map-get(abs.$colors, black));        
                }
    
                i {
                    font-size: 3rem;
                    color: map-get(abs.$colors, black);
                }
            }
    
            &__desc {
                > * {
                    @include abs.responsiveFontSize(body3);
                    @include abs.fontStyle(400, 1.4, -0.02em, map-get(abs.$colors, black));
                }
    
                .detail {
                    display: none;
                }
            }
    
            &__patent {
                display: none;
    
                img {
                    display: inline-block;
                    width: 6rem;
                }
            }
        }
    } 

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        height: fit-content;
        background-color: map-get(abs.$colors, gray-50);

        .content-wrapper {
            width: 100%;
            flex-direction: column;

            > * {
                width: 100%;
            }
        }
        
        &-image {
            &__list {
                display: flex;
                flex-direction: column;
            }

            &__item {
                width: 100%;
                position: relative;
    
                img {
                    height: clamp(17rem, -2.603rem + 50.265vw, 36rem);
                }
    
                .technology-content {
                    padding: 2rem 1rem 6rem 1rem;
                }
            }
        }

        &-content__list {
            display: none;
        }

        &-content {
            a {
                display: inline-block;
                width: 100%;
                color: map-get(abs.$colors, black);
                position: relative;

                .technology-content__text {
                    flex-direction: column;
                    align-items: start;
                }

                .technology-content__title {
                    @include abs.responsiveFontSize(title2);
                    @include abs.fontStyle(700, 1.2, -0.02em, map-get(abs.$colors, black)); 

                    text-align: left;
                }

                .technology-content__desc {
                    @include abs.responsiveFontSize(body1);
                    @include abs.fontStyle(400, 1.5, -0.02em, map-get(abs.$colors, black));
                }

                .technology-content__detail {
                    @include abs.responsiveFontSize(button1);
                    @include abs.fontStyle(700, 1.2, -0.02em, map-get(abs.$colors, black));

                    position: absolute;
                    top: 0;
                    right: 0;
                    justify-content: space-between;
                    gap: 0.4rem;

                    i {
                        font-size: 1.8rem;
                    }
                }
                
            }
        }
    }

    @media (max-width: map-get(abs.$breakpoints, small)) {
        &-content {
            a {
                flex-direction: column;

                .technology-content__text {
                    gap: 0.6rem;
                }

                .technology-content__detail {
                    position: relative;
                    justify-content: start;
                    margin-top: 1rem;
                }
            }

        }
    }
}







@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(1rem);
        opacity: 0.3;
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}