@use "../abstracts/bundle" as abs;

.hero {
    width: 100%;
    height: 100vh;
    position: relative;

    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: -1;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            position: absolute;
            inset: 0;
            z-index: 1;
        }
    }

    &__container {
        flex-direction: column;
        align-items: start;
        position: relative;
    }

    &__subtitle {
        @include abs.responsiveFontSize(subtitle1);
        @include abs.fontStyle(500, 1.3, -0.02em, map-get(abs.$colors, white));
    }

    &__title {
        @include abs.responsiveFontSize(display);
        @include abs.fontStyle(700, 1.2, -0.02em, map-get(abs.$colors, white));
    }

    &__scroll {
        color: map-get(abs.$colors, white);
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: 8rem;
        transform: translateX(-50%);

        p {
            font-size: clamp(1.2rem, 1.108rem + 0.256vw, 1.6rem);
        }

        i {
            font-size: 2.4rem;
            margin-top: 1rem;
            animation: scrollAnimation 1.2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
        }

        @media (max-width: map-get(abs.$breakpoints, medium)) {
            bottom: 3.7rem;
        }
    }

    @media (min-width: 1441px) {
        &__subtitle, &__title {
            padding-left: 14.5rem;
        }
    }

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        &__container {
            align-items: center;
        }

        &__subtitle, &__title {
            text-align: center;
        }
    }
}

@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(1rem);
        opacity: 0.3;
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}