@use '../abstracts/bundle' as abs;

// --------------- header ---------------
.newsHeader {
    position: relative;
    width: 100%;
    height: 100dvh;

    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: url("../images/news_bg.webp");
    }

    &__container {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        position: relative;
    }

    &__title {
        @include abs.font(display, map-get(abs.$colors, white));
    }

    &__subtitle {
        @include abs.font(subtitle1, map-get(abs.$colors, white));
    }
}

.view-container {
    padding-inline: clamp(2rem, 4vw, 10rem);
}

.newsView {
    &__wrap {
        margin-top: clamp(3rem, 4vw, 12.8rem);
    }

    &__content {
        width: 100%;
        height: 100%;
        margin-bottom: clamp(2rem, 5vw, 10rem);
    }

    &__title {
        margin-bottom: clamp(1.8rem, 4vw, 4.5rem);

        h3 {
            @include abs.font(title2, map-get(abs.$colors, black));
            margin-bottom: 1rem;
        }

        p {
            @include abs.font(body3, map-get(abs.$colors, gray-250));
        }
    }

    &__img {
        width: 100%;
        aspect-ratio: 16 / 9;
        max-height: 80rem;
        background-image: url("../images/newsItem-img03.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: clamp(1rem, 5vw, 5rem);
        }

    &__desc p, a {
        @include abs.font(body2, map-get(abs.$colors, gray-300));
    }

    &__desc p {
        margin-bottom: clamp(1rem, 5vw, 5rem);
    }

    &__nav {
        width: 100%;

        &-head {
            @include abs.font(button2, map-get(abs.$colors, gray-250));
            padding-inline: clamp(2rem, 5vw, 10rem);
            max-width: 100%;
            white-space: nowrap;
        }
    
        &-btnPrev,
        &-btnNext {
            display: flex;
            align-items: center;
            width: 100%;
            padding-block: clamp(1.6rem, 6vw, 2.4rem);
            border-top: 0.1rem solid #d9d9d9;
        }
    
        &-btnNext {
            border-bottom: 0.1rem solid #d9d9d9;
            margin-bottom: 10rem;
         }
    }
}
