@use '../abstracts/bundle' as abs;

// --------------- header ---------------
.header {
    position: relative;
    height: 100dvh;

    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: url("../images/news_bg.webp");

    }
}

.search__bar {
    width: 340px;
    height: 408px;
    background-color: map-get(abs.$colors, gray-250);
}